* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;

}

:root {
    --cor-de-fundo: #b2b39f;
    --cor-de-fundo-header: #3d423c;
}

body {
    background-color: var(--cor-de-fundo);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-de-fundo-header);
    color: white;
    font-size: 2rem;
    padding: 1rem;
}

.LogoGracilianoRamos {
    height: 8rem;
    width: 8rem;
    border-radius: 5rem;
    border: 2px solid #c49c3c;
}

.itens {
    padding: 1rem;
}

.cabecalho_menu_hamburguer {
    margin: 2rem;
    width: 4rem;
    height: 4rem;
    background-image: url("img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;

}

.lista-menu {
    display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.container__botao:checked ~ .lista-menu{
    position: relative;
    display: inline-block;
    vertical-align: bottom;

}